@font-face {
    font-family: 'GFS-Custom Bubble 1';
    src: url('GFSCUS1D.TTF');
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Poppins:wght@100&family=Roboto:wght@100&display=swap');

/* font-family: 'GFS-Custom Bubble 1'; para usar la fuente nueva*/

*{
    box-sizing: border-box;
}
body{
margin: 0;
}

.tira {
    background-color: rgb(30, 98, 0);
    color: white;
    white-space: nowrap;
    display: flex;
    overflow: hidden;
}
.tira #sencillo{
    display: flex;
    overflow: hidden;
    animation: rainbowtext 9s linear infinite;
}
@media (min-width: 750px){

    .tira #sencillo{
        font-size: 2em;
    }
    @keyframes rainbowtext{
        0% {
            transform: translateX(calc(0vw - 10px));
            color: black;
        }
        50%{
            transform: translateX(calc(100vw - 700px));
            color: white;
        }
        75%{
            color: black;
        }
        100% {
            transform: translateX(0vw);
            color: white;
        }
    }
}


/* ++++++++++++++++ */

.options{

display: flex;
justify-content:space-around;
background-color: black;
padding: 18px;
margin-bottom:10px;

}

.historial{

padding: 13px;
border-radius: 10px;
background-color: rgb(30, 98, 0);
color: white;
font-size: 25px;
cursor: pointer;
border: none;
}
.historial:hover{

    background-color: darkorchid;
    color: black;
    font-size: 25px;
}


.contenido{
display: flex;
justify-content: center ;
align-items: center ;
width: 100%;
background-image: url("fondoU.png");
}

.parrafo{
width: 50%;
height: 70vh;
font-size: 25px;
background-color:white ;


}